# Ignore all files
*

# Except .cpp files
!*.cpp

# Except .gitignore file
!.gitignore

# Except assets folder and its contents
!assets/
!assets/**

# Ignore .vscode settings
.vscode/

# Ignore temporary files
tempCodeRunnerFile.cpp